@font-face {
  font-family: "MonoSans";
  src: url("../public/fonts/Mona-Sans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "MonoSans";
  src: url("../public/fonts/Mona-Sans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "MonoSans";
  src: url("../public/fonts/Mona-Sans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "MonoSans";
  src: url("../public/fonts/Mona-Sans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "MonoSans";
  src: url("../public/fonts/Mona-Sans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
